.bedroom{
    height: 82px;
    width: 108px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 0px #9EB9B3;
    position: absolute;
    background: #FFFFFF;
    left: 206px;
    top: 114px;
    border: none;
    
/* font-family: Yekan Bakh FaNum; */
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: right;

}
.kitchen{
    height: 82px;
    width: 108px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 0px #9EB9B3;
    position: absolute;
    background: #FFFFFF;
    left: 49px;
    top: 224px;
    border: none;
    
/* font-family: Yekan Bakh FaNum; */
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: right;

    
}
.livingRoom{
    height: 82px;
    width: 108px;
    left: 206px;
    top: 224px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 0px #9EB9B3;
    position: absolute;
    background: #FFFFFF;
    border: none;
    
/* font-family: Yekan Bakh FaNum; */
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: right;

}

.bathroom{
    left: 49px;
    top: 114px;
    height: 82px;
    width: 108px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 0px #9EB9B3;
    position: absolute;
    background: #FFFFFF;
    border: none;
    
/* font-family: Yekan Bakh FaNum; */
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: right;

}
.addingRoom{
    
    bottom: 91px;
    left: 194px;
    height: 36px;
    width:36px;
    border-radius: 8px;
    box-shadow: 2px 4px 4px 0px #9EB9B3;
    position: absolute;
    background: #FFFFFF;
    border: none;
    
/* font-family: Yekan Bakh FaNum; */
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;

}
.deletingRoom{

    bottom: 91px;
    left: 30px;
    height: 36px;
    width: 36px;
    border-radius: 8px;
    box-shadow: 2px 4px 4px 0px #9EB9B3;
    position: absolute;
    background: #FFFFFF;
    border: none;
   
/* font-family: Yekan Bakh FaNum; */
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;

    
}