ul{
    list-style-type: none;
    height: 56px;
    width: 360px;
    left: 0px;
    top: 744px;
    border-radius: 0px;
    background: #507E74;
    position: absolute;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
}
 li:nth-child(1){

    position: absolute;
    width: 42px;
    height: 15px;
    left: 27px;
    top: 34px;

    font-family: 'Yekan Bakh';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}
li:nth-child(2){

    position: absolute;
    width: 42px;
    height: 15px;
    left: 109px;
    top: 34px;
    

    font-family: 'Yekan Bakh';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}
ul li:nth-child(3){

    position: absolute;
    width: 42px;
    height: 15px;
    left: 195px;
    top: 34px;
    

    font-family: 'Yekan Bakh';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;

}
li:nth-child(4){

    position: absolute;
    width: 42px;
    height: 15px;
    left: 272px;
    top: 34px;

    font-family: 'Yekan Bakh';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}
.icon{

    position: absolute;
    width: 16.86px;
    height: 17.8px;
    left: calc(50% - 16.86px/2 + 0.43px);
   bottom: 16.2px;
       
}